ul{
    /* list-style-type; */
    
    /* UL */
}
html{
    background-color: #f6f9fc;
}
/* ==================== */
.App{
    /* DIV */
}
    #header{
        width: 100%;
        font-size: 1.8em;
        background-color: rgb(175, 41, 41);
        color: white;
        font-family: 'Dancing Script', cursive;
        border-bottom: 3px solid black;
    }
        #header span{
            padding: 10px;
            margin: 10px;
            /* border: 1px solid white; */
        }
        #header:hover #messicrying > div{
            visibility: visible;
            top: 25px; 
            left: 200px; 
	        z-index: 1;
        }
        #messicrying{
            border: 1px solid black;
            width: 100%;
            position: relative;
        }
            #messicrying > div{
                position: absolute;
                visibility: hidden;
                background-image: url('http://digitalspyuk.cdnds.net/16/26/480x240/landscape-1467020318-crying-messi.gif');
                width: 400px;
                height: 200px;
                /* border: 1px solid black; */
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
    #pointSystem{
        /* background-color: white; */
        list-style-type: none;
        /* border: 1px solid black; */
        width: 50%;
        margin-left: 10px;
        padding: 10px;
        /* box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1); */
        
    }
        #pointSystem > li{
            margin-bottom: 5px;
        }
        #pointSystem > li > strong{
            text-decoration: underline;
            color:  rgb(175, 41, 41);
        }
    .userDiv{
        /* border: 2px solid blue; */
        display: flex;
        margin-top: 50px;
        flex-direction: row-reverse;
        width: 100%;
        /* DIV */
    }
        #userList{
            display: flex;
            /* border: 2px solid green; */
            width: 15%;
            color: black;
            /* background-color: white; */
            /* box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);             */
            /* DIV */
        }
            #participantList{
                width: 100%;
                /* UL */
            }
                .user{
                    padding: 5px;
                    /* border: 1px solid white; */
                    width: 100%;
                    /* LI */
                }
                    .user:hover{
                        cursor: pointer;
                        text-decoration: underline;
                        /* LI */
                    }

        #userBracket{
            display: flex;
            text-align: center;
            justify-content: center;
            /* border: 2px solid blue; */
            width: 85%;
            /* DIV */
        }
            #roundA{
                order: 0;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #roundB{
                order: 8;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #quarterA{
                display: flex;
                align-items: center;
                order: 1;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
                #quarterA > div > div:nth-child(1){
                    margin-bottom: 80px;
                    /* DIV */
                }
                #quarterA > div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    /* DIV */
                }
            #quarterB{
                display: flex;
                align-items: center;
                order: 7;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
                #quarterB > div > div:nth-child(1){
                    margin-bottom: 80px;
                    /* DIV */
                }
                #quarterB > div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    /* DIV */
                }
            #semiA{
                display: flex;
                align-items: center;
                order: 2;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #semiB{
                display: flex;
                align-items: center;
                order: 6;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #finalA{
                display: flex;
                align-items: center;
                order: 3;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #finalB{
                display: flex;
                align-items: center;
                order: 5;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
            #champion{
                display: flex;
                /* align-items: center; */
                /* padding-top: 5px; */
                order: 4;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
                #champion > div{
                    /* border: 1px solid red; */
                    width: 100%;
                    background-color: #f6f9fc;
                }
                #worldcupLogo{
                    /* border: 1px solid red; */
                    background-color: #f6f9fc;
                    cursor: pointer;
                    width: 100%;
                    height: 48%;
                    /* max-height: 48%; */
                    margin-bottom: 25px;
                    /* box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);*/
                    background-image: url('https://www.edigitalagency.com.au/wp-content/uploads/FIFA-World-Cup-Logo-Russia-2018-png-no-font.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            #third{
                display: flex;
                align-items: center;
                order: 9;
                width: 10%;
                /* border: 1px solid red; */
                /* DIV */
            }
                #third > div{
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
                    width: 100%;
                    /* DIV */
                }
            /* LIST OF TEAMS */
            .team{ 
                width: 100%;
                box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
                /* border: 1px solid purple; */
                /* padding: 5px; */
                /* DIV */
            }
            .team:not(:last-child){
                margin-bottom: 20px;
                /* DIV */
            }
                /* ONE TEAM */
                .pick, .correctPick{
                    padding: 10px;
                    border: 1px solid black;
                    background-color: white;
                    /* DIV */
                }
                .correctPick{
                    background-color: green;
                    color: white;
                    /* DIV */
                }
        #commentDiv{
            margin-top: 50px;
            margin-left: 40px;
            /* border: 1px solid */
        }
            #commentForm{
                display: flex;
                flex-direction: column;
                width: 50%;
            }
                /* Comment Form Input */
                #commentForm > textarea{
                    font-size: 1.2em;
                }
                /* Author */
                #commentForm > input{
                    margin-top: 2px;
                    font-size: 0.9em;
                    width: 20%;
                }
                #commentForm > button{
                    width: 20%;
                    font-size: 1.2em;
                }
            #commentDisplay{

            }
            .comment{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 10px;
            }
                #commentText{
                    padding: 10px;
                    display: inline-flex;
                    flex-wrap: wrap;
                    font-size: '1.5em';
                    width: fit-content;
                    border: 1px solid black;
                    /* background-color: rgb(212, 237, 245); */
                    background: linear-gradient(to bottom right, rgb(212, 237, 245), white);
                    border-radius: 10px;
                    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);                    
                }

